h1 {
    color:red;
}

/* .nav_links{
    list-style: none;
    background-color: black;
}
.nav_links > li {
    display: inline-block;
    padding: 0px 20px;
    background-color: black;
}

header {
    display:flex;
    justify-content:space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: black;
    position: fixed;
    width: 100%;
    color: yellow; */
/* } */



#header {
    display: flex;
    padding: 30px 10%;
    background-color: teal;
    position:fixed;
    width: 100%;
   justify-items: center;
   align-items: center;
}

#navbar {
    display: flex;
    flex-direction: row;
    color:white;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
}

#navbar > div {
    padding-right: 30px;
}

#page {
    display:flex;
    align-items: center;
    padding: 90px;
    /* font-family: 'Montserrat', sans-serif; */
    justify-content: center;
    min-width:1000px;
    padding-top: 200px;
}